/* ------------------------------------ */


/* CARGA DE FUENTE PERSONALIZADA        */


/* ------------------------------------ */

@font-face {
    font-family: "Nowharehouse";
    src: url("/assets/Nowharehouse.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


/* ------------------------------------ */


/* VARIABLES GLOBALES                   */


/* ------------------------------------ */

:root {
    /* Fuentes */
    --header: "Nowharehouse";
    --main: Roboto, sans-serif;
    --serif: "Playfair Display";
    /* Colores básicos */
    --black: #030303;
    --black2: #101010;
    --black3: #323232;
    --black-op-8: rgb(0, 0, 0, 0.8);
    --white: #cecece;
    --grey: #787878;
    --accent: #75613b;
    --background: var(--black);
    --background2: var(--black3);
    --border: var(--black2);
    --color: var(--white);
    /* Breakpoints para diseño responsivo */
    --breakpoint-sm: 480px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;
    /* Grupos del foro */
    --staff: var(--accent);
    --groups: var(--accent);
    --rojos: #864043;
    --naranjas: #864d40;
    --verdes: #5f753b;
    --inactivos: #777777;
}

#staff,
.staff {
    --groups: var(--accent);
}

#rojos,
.rojos {
    --groups: var(--rojos);
}

#naranjas,
.naranjas {
    --groups: var(--naranjas);
}

#verdes,
.verdes {
    --groups: var(--verdes);
}

#inactivos,
.inactivos {
    --groups: var(--inactivos);
}

.stats-online b,
.stats-newer b,
.stats-last24 b {
    color: var(--groups);
}


/* ------------------------------------ */


/* RESET GENERAL                        */


/* ------------------------------------ */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* ------------------------------------ */


/* CUERPO Y TEXTO BASE                  */


/* ------------------------------------ */

body {
    background: var(--background);
    color: var(--color);
    /* padding: 1rem; */
    font-family: var(--main);
}


/* Evita el scroll cuando está activa la sidebar móvil */

body.no-scroll {
    overflow: hidden;
    height: 100vh;
}

#overlay {
    position: fixed;
    inset: 0;
    background: var(--black-op-8);
    z-index: 999;
    height: 100vh;
}


/* Fondo oscuro semitransparente para overlay móvil */

.hidden {
    display: none;
}

.hf-index {}


/* ------------------------------------ */


/* SIDEBAR MÓVIL                        */


/* ------------------------------------ */

#mobile-sidebar {
    background: var(--black);
    width: calc(100vw - 2rem);
    height: 100vh;
    position: fixed;
    z-index: 1000;
    top: 0;
    transform: translateX(-30rem);
    transition: 0.5s ease-in-out;
    box-sizing: border-box;
}


/* Activa la sidebar móvil */

#mobile-sidebar.active {
    transform: translateX(0);
    transition: 0.5s ease-in-out;
}

.side-character {
    display: flex;
    gap: 20px;
    align-items: center;
    border-bottom: 1px solid var(--border);
    padding: 20px;
}

button.notif-button {
    font-weight: 900;
    color: var(--color);
    background: transparent;
    border: none;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.side-character-img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background: var(--groups);
}

.side-character img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    object-fit: cover;
    mix-blend-mode: multiply;
}

.side-character .side-username {
    display: flex;
    flex-direction: column;
    font-weight: 900;
    gap: 8px;
}

.side-character .side-username ul {
    display: flex;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0px;
    gap: 5px;
    font-size: 11px;
    font-weight: normal;
    margin-left: -5px;
}

.side-character .side-username ul li a {
    text-decoration: none;
    color: var(--color);
    background: var(--groups);
    box-sizing: border-box;
    padding: 5px 10px;
    border-radius: 30px;
}

#side-links {
    border-bottom: 1px solid var(--border);
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

#side-links a {
    text-decoration: none;
    color: var(--color);
    width: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

#side-links b {
    font-weight: 900;
    background: var(--groups);
    padding: 0px 10px;
    font-size: 10px;
    font-weight: 300;
}

.side-lastest {
    border-bottom: 1px solid var(--border);
    padding: 20px 10px;
    height: 300px;
}

.content-scroll {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 0px 10px;
    box-sizing: border-box;
}

.side-lastest a.lastest-thread {
    /* TODO: Add to variable */
    background: #0f0f0f;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 60px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.side-lastest a.lastest-thread:first-of-type {
    margin-top: 0px;
}

.side-lastest a.lastest-thread span:first-of-type {
    color: var(--groups);
    font-weight: 900;
    font-size: 20px;
}

.side-lastest a.lastest-thread span b {
    color: var(--groups);
}

#side-events {
    padding: 20px;
    display: flex;
    gap: 10px;
}

#side-events a.my-event {
    /* TODO: Add to variable */
    background: #0f0f0f;
    height: 80px;
    width: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: var(--color);
}

#side-events a.my-event b {
    font-family: var(--header);
    /* TODO: Add to root */
    color: #333333;
}

#side-events a.my-event span {
    font-size: 10px;
}


/* ------------------------------------ */


/* NAVBAR INFERIOR MÓVIL                */


/* ------------------------------------ */

.mobile-nav {
    grid-area: nav;
    background: var(--black-op-8);
    position: fixed;
    height: 4rem;
    width: 100vw;
    left: 0;
    bottom: 0;
    display: grid;
    grid-template-areas: "home settings signinout signup";
    grid-gap: 1rem;
    justify-content: space-around;
    align-items: center;
}


/* Áreas de la navbar móvil */

.mobile-home {
    grid-area: home;
}

.mobile-settings {
    grid-area: settings;
}

.mobile-signinout {
    grid-area: signinout;
}

.mobile-signup {
    grid-area: signup;
}


/* ------------------------------------ */


/* SECCIONES DEL FORO                   */


/* ------------------------------------ */

section.hf-announcements {
    grid-area: announcements;
    height: 300px;
    display: none;
    grid-template-areas: "image text events lastest" "links links links links";
    margin-top: 20px;
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    grid-template-columns: 250px 1fr 1fr 1fr;
}

.hf-announcements-img {
    grid-area: image;
    padding: 20px;
    border-right: 1px solid var(--border);
    box-sizing: border-box;
    height: 250px;
}

.hf-announcements-img-container {
    width: 210px;
    height: 210px;
    background: var(--accent);
}

.hf-announcements-img img {
    width: 210px;
    height: 210px;
    object-fit: cover;
    mix-blend-mode: multiply;
}

.hf-announcements-txt {
    grid-area: text;
    height: 250px;
    padding: 20px;
    border-right: 1px solid var(--border);
    text-align: justify;
    display: flex;
    flex-direction: column;
}

.hf-announcements-txt-title {
    color: var(--accent);
    text-transform: uppercase;
    font-weight: 900;
    font-size: 20px;
}

.hf-announcements-txt-desc {
    height: 90%;
}

section.hf-announcements #announ-links {
    border-bottom: 1px solid var(--border);
    padding: 20px;
    display: flex;
    grid-area: links;
    flex-wrap: nowrap;
    text-transform: uppercase;
    font-size: 12px;
    align-items: center;
    justify-content: center;
    border-top: 1px solid var(--border);
}

section.hf-announcements #announ-links a {
    text-decoration: none;
    color: var(--color);
    width: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

section.hf-announcements #announ-links b {
    font-weight: 900;
    background: var(--accent);
    padding: 0px 10px;
    font-size: 10px;
    font-weight: 300;
}

section.hf-announcements .side-lastest {
    padding: 20px 10px;
    grid-area: lastest;
    height: 250px;
}

section.hf-announcements .side-lastest a.lastest-thread {
    /* TODO: Add to variable */
    background: #0f0f0f;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 60px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

section.hf-announcements .side-lastest a.lastest-thread:first-of-type {
    margin-top: 0px;
}

section.hf-announcements .side-lastest a.lastest-thread span:first-of-type {
    color: var(--accent);
    font-weight: 900;
    font-size: 20px;
}

section.hf-announcements .side-lastest a.lastest-thread span b {
    color: var(--groups);
}

section.hf-announcements #announ-events {
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    grid-area: events;
    height: 250px;
    justify-content: center;
    align-items: center;
    border-right: 1px solid var(--border);
}

section.hf-announcements #announ-events a.my-event {
    /* TODO: Add to variable */
    background: #0f0f0f;
    height: 80px;
    min-width: initial;
    width: 45%;
    padding: 10px;
    gap: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: var(--color);
}

section.hf-announcements #announ-events a.my-event b {
    font-family: var(--header);
    /* TODO: Add to root */
    color: #333333;
}

section.hf-announcements #announ-events a.my-event span {
    font-size: 10px;
}

section.hf-categories {
    grid-area: categories;
    margin-top: 20px;
}

section.hf-categories .hf-category {}

section.hf-categories .hf-category .hf-category-name {
    box-sizing: border-box;
    padding: 20px;
    font-weight: 900;
    font-size: 20px;
}

section.hf-categories .hf-category .hf-forum-list {}

section.hf-categories .hf-category .hf-forum-list .hf-forum:first-of-type {
    margin-top: 0px;
}

section.hf-categories .hf-category .hf-forum-list .hf-forum {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--border);
}

.hf-forum-image,
.hf-forum-image2 {
    display: none;
}

section.hf-categories .hf-category .hf-forum-list .hf-forum a.hf-forum-name {
    font-family: var(--serif);
    color: var(--accent);
    padding: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid var(--border);
    text-decoration: none;
    font-size: 20px;
}

section.hf-categories .hf-category .hf-forum-list .hf-forum .hf-forum-desc {
    box-sizing: border-box;
    padding: 20px;
    text-align: justify;
    border-bottom: 1px solid var(--border);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

section.hf-categories .hf-category .hf-forum-list .hf-forum .hf-forum-desc-links {
    display: flex;
    gap: 10px;
    align-items: center;
}

section.hf-categories .hf-category .hf-forum-list .hf-forum .hf-forum-desc-links a {
    text-decoration: none;
    color: var(--color);
    display: flex;
    align-items: center;
    gap: 5px;
}

section.hf-categories .hf-category .hf-forum-list .hf-forum .hf-forum-desc-links a b {
    background: var(--accent);
    font-weight: 300;
    font-size: 10px;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.hf-categories .hf-category .hf-forum-list .hf-forum .hf-forum-lastpost {
    padding: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid var(--border);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section.hf-categories .hf-category .hf-forum-list .hf-forum .hf-forum-lastpost a {
    text-decoration: none;
    color: var(--color);
}

.last-poster {
    background: var(--groups);
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

section.hf-categories .hf-category .hf-forum-list .hf-forum .hf-forum-lastpost img {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    object-fit: cover;
    filter: grayscale(1);
    mix-blend-mode: multiply;
}

section.hf-stats {
    grid-area: stats;
    margin-top: 20px;
    display: grid;
    grid-template-areas: "news" "online" "last24" "groups" "newer" "stats" "creds" "bluedrxgs";
    border-top: 1px solid var(--border);
}

section.hf-stats .stats-newer {
    grid-area: newer;
    box-sizing: border-box;
    padding: 20px;
    background: #333333;
    font-size: 20px;
    border-bottom: 1px solid var(--border);
}

section.hf-stats .stats-stats {
    grid-area: stats;
    padding: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid var(--border);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

section.hf-stats .stats-stats span {}

section.hf-stats .stats-stats span b {
    color: var(--accent);
}

section.hf-stats .stats-groups {
    grid-area: groups;
    border-bottom: 1px solid var(--border);
    box-sizing: border-box;
    padding: 20px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

section.hf-stats .stats-groups a {
    background: #333333;
    display: block;
    width: 50px;
    height: 50px;
    text-transform: uppercase;
    font-family: var(--header);
    text-decoration: none;
    color: var(--groups);
    display: flex;
    justify-content: center;
    align-items: center;
}

section.hf-stats .stats-online {
    grid-area: online;
    border-bottom: 1px solid var(--border);
    box-sizing: border-box;
    padding: 20px 10px;
    text-align: justify;
    text-transform: lowercase;
}

section.hf-stats .stats-last24 {
    grid-area: last24;
    border-bottom: 1px solid var(--border);
    box-sizing: border-box;
    padding: 20px 10px;
    text-align: justify;
    text-transform: uppercase;
    font-size: 12px;
}

section.hf-stats .stats-news {
    grid-area: news;
    border-bottom: 1px solid var(--border);
    box-sizing: border-box;
    padding: 20px 10px;
}

section.hf-stats .stats-news span {
    display: flex;
    align-items: center;
    gap: 5px;
}

section.hf-stats .stats-news span b {
    background: var(--accent);
    font-weight: 300;
    padding: 0px 5px;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.hf-stats .stats-creds {
    grid-area: creds;
    border-bottom: 1px solid var(--bottom);
    padding: 20px 10px;
    text-align: justify;
}

section.hf-stats .bluedrxgs {
    grid-area: bluedrxgs;
    background: #333333;
    padding: 20px;
    border-bottom: 1px solid var(--bottom);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: monospace;
    text-transform: lowercase;
    font-weight: 900;
}

footer {
    grid-area: footer;
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    padding: 20px;
    text-transform: uppercase;
    font-family: monospace;
    font-size: 10px;
    display: flex;
    align-items: center;
    text-align: justify;
    text-align-last: center;
    flex-direction: column;
    /* Espacio para la navbar móvil */
    padding-bottom: 50px;
}


/* ------------------------------------ */


/* MEDIA QUERIES                        */


/* ------------------------------------ */


/* Pantallas medianas (tablets) */

@media (min-width: 768px) {
    body {
        /* background: lightblue; */
    }
    /* Oculta la navbar inferior en pantallas medianas */
    .mobile-nav {
        display: none;
    }
    #mobile-sidebar {
        display: none;
    }
    footer {
        padding-bottom: 0;
        justify-content: space-between;
        flex-direction: row;
    }
    /* Muestra tablón de anuncios en pantallas más grandes */
    section.hf-announcements {
        display: grid;
    }
    nav {
        height: 75px;
        padding: 0px 20px;
    }
    .img-navbar {
        width: 50px;
        height: 50px;
    }
    #nav-user img {
        width: 50px;
        height: 50px;
    }
    .nav-username ul {
        display: flex;
        list-style-type: none;
        margin-block-start: 0;
        margin-block-end: 0;
        padding-inline-start: 0;
        gap: 5px;
    }
    .nav-username ul li a {
        text-decoration: none;
        color: var(--grey);
        font-size: 12px;
    }
    .nav-username ul li a:hover {
        color: var(--accent);
    }
    #nav-links {
        display: flex;
        gap: 10px;
        text-transform: uppercase;
    }
    #nav-links a {
        text-decoration: none;
        color: var(--color);
        transition: 0.3s ease-in-out;
    }
    #nav-links a:hover {
        border-bottom: 2px solid var(--accent);
        font-weight: 900;
        transition: 0.3s ease-in-out;
    }
    section.hf-categories {
        border-top: 1px solid var(--border);
    }
    .hf-category-name {
        padding: 20px 60px!important;
        text-transform: uppercase;
        font-size: 30px!important;
    }
    .hf-forum {
        height: 230px;
        background: var(--groups);
        display: grid!important;
        grid-template-areas: "image name image2" "image desc image2" "image last image2";
        grid-template-columns: 30px 1fr .5fr;
        grid-template-rows: 1fr 120px 40px;
    }
    .hf-forum-image {
        grid-area: image;
        display: block;
        filter: grayscale(1);
        mix-blend-mode: multiply;
        background-size: cover;
    }
    .hf-forum-image2 {
        grid-area: image2;
        display: block;
        filter: grayscale(1);
        mix-blend-mode: multiply;
        background-size: cover;
    }
    .hf-forum-name {
        grid-area: name;
        text-transform: uppercase;
        padding: 0px!important;
        padding: 0px 40px!important;
        height: auto!important;
        background: var(--black);
        display: flex;
        align-items: center;
    }
    .hf-forum-desc {
        grid-area: desc;
        background: var(--black);
    }
    .hf-forum-lastpost {
        grid-area: last;
        background: var(--black);
        padding: 0px 20px!important;
        text-transform: uppercase;
        font-size: 12px;
    }
    section.hf-stats {
        grid-template-areas: "news news news news" "newer online online creds" "stats online online creds" "groups online online creds" "groups last24 last24 bluedrxgs";
        height: 400px;
        grid-template-columns: auto;
        grid-template-rows: 80px 80px 80px 80px 80px;
    }
    .stats-newer {
        border-bottom: 0;
        border-right: 1px solid var(--border);
        background: inherit!important;
        display: flex;
        align-items: start;
        flex-direction: column;
        text-transform: uppercase;
        justify-content: center;
        font-size: 12px!important;
    }
    .stats-newer b {
        font-size: 25px;
        text-transform: none;
    }
    .stats-stats {
        border-right: 1px solid var(--border);
        border-top: 1px solid var(--border);
        text-transform: uppercase;
    }
    .stats-groups {
        border-bottom: 0;
        border-right: 1px solid var(--border);
        flex-wrap: wrap;
        gap: 10px;
    }
    .stats-last24 {
        border-bottom: 0;
    }
    .stats-creds {
        border-left: 1px solid var(--border);
    }
    .bluedrxgs {
        background: inherit!important;
        border-top: 1px solid var(--border);
        border-left: 1px solid var(--border);
        border-bottom: 0;
    }
}


/* Pantallas grandes */

@media (min-width: 1024px) {
    body {
        /* background: green; */
    }
}


/* Pantallas muy grandes */

@media (min-width: 1280px) {
    body {
        /* background: hotpink; */
    }
}